@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply min-h-screen bg-main dark:bg-dark-main;
}

/* milkdown styles */
.milkdown {
	@apply m-5 rounded border bg-slate-50 px-2 py-4;
}

.editor {
	@apply mx-auto;
}

.neumorph {
	box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4), inset -3px -3px 5px rgba(255, 255, 255, 0.75);
}

.dark .neumorph {
	box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4), inset -3px -3px 5px rgba(26, 32, 44, 0.75);
}
.fade-text {
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, transparent 100%);
}
